<div class="cpage">

<h1 class="chead">About Us</h1>

<p class="cpara">
	Explor City is a web app designed and developed by a bunch of creative developers who have come forward to help the community. Explor City 
	is built to be an app which primarily helps travellers and the general population to find out things that matter the most in their cities.
</p>

</div>
